<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="taskApp"  ng-controller="taskCtrl" >
 

	<p>Task : <input type="text" ng-model="task" placeholder="Enter name here"></p>
	<button ng-click="addToList()">Add</button>
	<h1> New Task: {{task}}</h1>
	<p> Now you have {{length}} tasks to do!</p>
	<table>
		<th>
			Tasks to Do
		</th>
		<tr ng-repeat="t in tasks |orderBy: t">
			<!-- t in tasks:  use JS loop -->
			<!-- np-repeat: ng directive, which is extended HTML elem, or attributes -->
			<td>{{t}}<button ng-click="removeFromList(t)">remove</button></td>

		</tr>

	</table>

</div> 
<!-- to do list -->
    
<script type="text/javascript">
	var app=angular.module('taskApp', [])
	app.controller('taskCtrl', function($scope){
		$scope.tasks=[];
		$scope.task=""
		$scope.length=0

		$scope.addToList=function () {
			$scope.tasks.push($scope.task)
			$scope.length+=1
		}
		$scope.removeFromList=function(item){
     	    let index=$scope.tasks.findIndex(t=>t==item)
     	    $scope.tasks.splice(index,1)
     	    $scope.length-=1

		}
	})


// taskApp: module name
//[]: dependency inj., make several modules work together

</script>   
</body>
</html>